@page "/counter"

<style type="text/css">
    .dewey-image {
        width: 150px;
        height: 150px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Dewey000.png" alt="Image 1" class="dewey-image" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 2" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 3" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 4" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <img src="" alt="Image 5" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 6" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 7" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <img src="" alt="Image 8" class="img-fluid" />
        </div>
    </div>
</div>





