@page "/Profile"
@inject AppState AppState
<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    html, body {
        height: 100%;
        margin: 0;
        background-image: linear-gradient(to bottom right, #CCCCFF, #DCD0FF);
    }

    .uploadcontainer {
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        width: 300px;
        backdrop-filter: blur(30px);
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        max-width: 700px;
        backdrop-filter: blur(10px);
        margin-top: 0;
        border-radius: 20px;
        height: auto;
        font-size: 12px;
    }

    .profile-image {
        margin-top: auto;
    }

    .profile-details {
        text-align: center;
    }

    .profile-info {
        text-align: left;
    }

    .node-icon {
        width: 150px;
        height: 150px;
    }

    .icon-center {
        justify-content: center;
    }

    .rank-icon {
        width: 66px;
        height: 66px;
    }
</style>

<body>
    <div class="center-container" style="margin-top: 70px">
        <div class="profile-container shadow-lg">
            <div class="profile-image">
                <img class="node-icon" src="https://www.gravatar.com/avatar/-emailhashhere-?s=200" alt="Profile Photo" />
            </div>
            <br />
            <div class="profile-details">
                <h4>Liam Erens</h4><br />
                <div class="profile-info">
                    <p><strong>Points: </strong> @AppState.UserPoints</p>
                    <p><strong>Rank: </strong> @AppState.Rank</p>
                    <p><strong>Correct Quizzes: </strong> @AppState.CorrectQuizzes.ToString()</p>
                    <p><strong>Incorrec Quizzes: </strong> @AppState.IncorrectQuizzes.ToString()</p>
                    <div style="margin-left: 45px">
                        @if (AppState.Rank == "Bronze")
                        {
                            <img src="/Bronze.png" alt="Bronze Badge" class="rank-icon" />
                        }
                        else if (AppState.Rank == "Iron")
                        {
                            <img src="/Iron.png" alt="Iron Badge" class="rank-icon" />
                        }
                        else if (AppState.Rank == "Silver")
                        {
                            <img src="/Silver.png" alt="Silver Badge" class="rank-icon" />
                        }
                        else if (AppState.Rank == "Gold")
                        {
                            <img src="/Gold.png" alt="Gold Badge" class="rank-icon" />
                        }
                        else if (AppState.Rank == "Platinum")
                        {
                            <img src="/Platinum.png" alt="Platinum Badge" class="rank-icon" />
                        }
                        else if (AppState.Rank == "Diamond")
                        {
                            <img src="/Diamond.png" alt="Diamond Badge" class="rank-icon" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
